header {
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.flex {
  display: flex;
  align-items: center
}

button {
  height: 1.5rem;
}

.margin-left {
  margin-left: 2rem;
}